body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin: 0px;
    padding: 32px 200px 32px 200px;
    align-items: center;
    flex:1;
    
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8; 
    flex:1;
}

.header .links {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.header a {
    padding: 10px;
    color: #f9faf8;
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    margin: 0px;
    padding: 16px 150px 16px 150px;
    align-items: center;
    min-height: 450px;
    justify-content: center;
    flex:1;
}

.hero-right img {
    width: 450px;
    height: 300px;
    margin: 0px;
    padding: 0px;
}

.hero-right {
    margin:0px;
    padding: 0px 50px 0px 50px;
    
    
}

.hero-left {
    margin:0px;
    padding: 0px 50px 0px 50px;
    width: 600px;
}

.hero-title {
    font-weight: 700;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 3px;
}

.hero-title-text {
    font-size: 18px;
    color: #E5E7Eb;
    margin-bottom: 15px;
    flex:wrap;
}

.hero-signup {
    display: flex;
    background-color: #3882F6;
    border-radius: 7px;
    margin: 5px;
    padding: 5px;
    max-width: 120px;
    justify-content: center;
    font-weight: 500;
}

.hero-signup a {
    color: white;
}



.overview {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 16px 150px 16px 150px;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.overview-title {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    flex:1 0 auto;
}

.overview-container {
    display: flex;
    flex-direction: row;
}

.overview-item {

}

img {
    width: 400px;
}